.stock-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__symbol {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  &__exchange {
    font-size: 14px;
    letter-spacing: 0.05rem;
    transform: translateY(-5px);
  }

  &__trade {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__price {
    display: flex;
    align-items: flex-end;
  }

  &__current-price {
    font-size: 30px;
    font-weight: 400;
    transform: translateY(3px);
  }

  &__units[data-change='increased'],
  &__percent[data-change='increased'] {
    color: $increased;

    &::before {
      content: '+';
    }
  }

  &__units[data-change='decreased'],
  &__percent[data-change='decreased'] {
    color: $decreased;
  }

  &__time {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.1rem;
  }
}
